@tailwind base;

@layer base {
    h1 {
        @apply text-2xl;
        @apply mt-8;
        @apply mb-4;

    }

    h2 {
        @apply text-xl;
        @apply mt-8;
        @apply mb-4;
    }

    h3 {
        @apply text-lg;
        @apply font-normal;
        @apply mt-8;
        @apply mb-4;
    }

    h4 {
        @apply text-lg;
        @apply font-light;
        @apply mt-8;
        @apply mb-4;
    }

    h5 {
        @apply text-lg;
        @apply font-light;
        @apply italic;
        @apply mt-8;
        @apply mb-4;
    }

    h6 {
        @apply text-lg;
        @apply font-light;
        @apply italic;
        @apply opacity-90;
        @apply mt-8;
        @apply mb-4;
    }

    a {
        @apply font-medium;
        @apply cursor-pointer;
        @apply decoration-dotted;
        @apply decoration-1;
        @apply underline-offset-4;
        @apply underline;
    }
}

@tailwind components;
@tailwind utilities;

:root {
    --background: theme('colors.zinc.300');
    --foreground: theme('colors.gray.950');
    --lowlight: theme('colors.zinc.50');
    --highlight: theme('colors.indigo.950');
    --header-font-weight: 700;
    --body-font-weight: 500;
}

:root:has(#theme-toggle-button>input[type="checkbox"]:checked) {
    --background: theme('colors.gray.950');
    --foreground: theme('colors.zinc.100');
    --lowlight: theme('colors.indigo.500');
    --highlight: theme('colors.zinc.300');
    --header-font-weight: 500;
    --body-font-weight: 300;
}

*, *::before, *::after {
    box-sizing: border-box;
    /*border: 2px solid red;*/
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-body), sans-serif;
    font-weight: 300;
    @apply text-base;
    @apply leading-loose;
    @apply tracking-wide;
    @apply antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header), sans-serif;
    color: var(--highlight);
    @apply font-normal;
    @apply leading-tight;
    @apply tracking-widest;
}

p {
    @apply my-4;
}

a {
    color: var(--highlight);
    text-decoration-color: var(--lowlight);
    @apply transition-colors;
    @apply duration-200;
    @apply ease-in-out;
}

a:hover {
    color: var(--highlight);
    text-decoration-color: var(--highlight);
}

@media (min-width: 640px) {
}
