@tailwind base;

@layer base {
    h1 {
        color: var(--highlight);
        @apply font-normal;
        @apply leading-3;
        @apply text-2xl;
        @apply mt-8;
        @apply mb-4;
        @apply tracking-widest;
    }

    h2 {
        color: var(--highlight);
        @apply font-normal;
        @apply leading-3;
        @apply text-xl;
        @apply mt-8;
        @apply mb-4;
    }

    h3 {
        color: var(--highlight);
        @apply font-normal;
        @apply leading-3;
        @apply text-base;
        @apply font-normal;
        @apply mt-8;
        @apply mb-4;
    }

    h4 {
        color: var(--highlight);
        @apply font-normal;
        @apply leading-3;
        @apply text-base;
        @apply font-light;
        @apply mt-8;
        @apply mb-4;
    }

    h5 {
        color: var(--highlight);
        @apply font-normal;
        @apply leading-3;
        @apply text-base;
        @apply font-light;
        @apply italic;
        @apply mt-8;
        @apply mb-4;
    }

    h6 {
        color: var(--highlight);
        @apply font-normal;
        @apply leading-3;
        @apply text-base;
        @apply font-light;
        @apply italic;
        @apply opacity-90;
        @apply mt-8;
        @apply mb-4;
    }

    a {
        @apply font-medium;
        @apply cursor-pointer;
        @apply decoration-dotted;
        @apply decoration-1;
        @apply underline-offset-4;
        @apply underline;
    }
}

@tailwind components;
@tailwind utilities;

:root {
    --background: 212 212 216; /* theme('colors.zinc.300'); */
    --foreground: 3 7 18; /*theme('colors.gray.950');*/
    --lowlight: 250 250 250; /*theme('colors.zinc.50');*/
    --highlight: 30 27 75; /*theme('colors.indigo.950');*/
    --header-font-weight: 700;
    --body-font-weight: 500;
}

:root:has(#theme-toggle-button>input[type="checkbox"]:checked) {
    --background: 3 7 18; /* theme('colors.gray.950'); */
    --foreground: 244 244 245; /* theme('colors.zinc.100'); */
    --lowlight: 99 102 241; /* theme('colors.indigo.500'); */
    --highlight: 244 244 245; /* theme('colors.zinc.100'); */
    --header-font-weight: 500;
    --body-font-weight: 300;
}

*, *::before, *::after {
    box-sizing: border-box;
    /*border: 2px solid red;*/
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    color: rgb(var(--foreground));
    background: rgb(var(--background));
    font-family: var(--font-body), sans-serif;
    font-weight: 300;
    @apply text-base;
    @apply tracking-wide;
    @apply leading-7;
    @apply antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header), sans-serif;
}

p {
    @apply my-4;
}

a {
    color: rgb(var(--highlight));
    text-decoration-color: rgb(var(--lowlight));
    @apply transition-colors;
    @apply duration-200;
    @apply ease-in-out;
}

a:hover {
    color: rgb(var(--highlight));
    text-decoration-color: rgb(var(--highlight));
}

@media (min-width: 640px) {
}
